<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body>
<h1>this tag is from test.html.twig file</h1>


        <h2>{{ product.name }}: {{ product.price }}</h2>
<p>Product is added in database</p>



</body>
</html>